.margin-top-emp{
    margin-top: 200px;
}

.btn-azul{
    background-color: #2e509f !important;
    border-color: #2e509f !important;
    color: #ffffff !important;
}

.btn-azul:hover{
    background-color: #13295c !important;
    border-color: #13295c !important;
    color: #ffffff !important;
}